.SingleFriend {
  display: flex;
  gap: 20px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.singleFriend_info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-family: "Ubuntu", sans-serif;
  color: white;
  font-weight: 500;
  margin: 0;
}

.SingleFriend img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.185);
  transition: all 0.35s;
}

.SingleFriend img:hover {
  box-sizing: border-box;
  background: none;
  border: 2px solid #c4b3c9;
  box-shadow: inset 6px 6px #003f50;
}

.SingleFriend_text {
  display: none;
}

@media (min-width: 800px) {
  .SingleFriend {
    transition: all 0.35s;
  }

  .SingleFriend:hover {
    width: 80%;
    padding: 5px 20px;
    border-left: 5px solid #ee5642;
  }

  .SingleFriend img {
    width: 100px;
    height: 100px;
  }

  .SingleFriend img:hover {
    width: 100px;
    height: 100px;
    background: none;
    border: 2px solid #f7dfff;
    box-shadow: inset 6px 6px #53b0ca;
  }

  .SingleFriend_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    color: #53b0ca;
  }

  .SingleFriend_text h3,
  .SingleFriend_text h4 {
    margin: 0;
    padding: 0;
  }

  .singleFriend_info {
    color: white;
  }
}
