.input-label {
  font-family: "Poppins", sans-serif;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

input {
  font-family: "Poppins", sans-serif;
  border: 1px solid rgb(214, 214, 214);
  padding: 10px 5px;
}

.divider {
  display: block;
  align-self: flex-end;
}
