.todolist {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  box-shadow: #23a6d5 0px 0px 0px 2px inset,
    rgb(255, 255, 255) 10px -10px 0px -3px, #23d5ab 10px -10px,
    rgb(255, 255, 255) 20px -20px 0px -3px, #e73c7e 20px -20px,
    rgb(255, 255, 255) 30px -30px 0px -3px, #ee7752 30px -30px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
  cursor: pointer;
}

.box {
  background: none;
  border: none;
  margin-right: 5px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 500;
  color: rgb(39, 39, 39);
}

.checked {
  margin-right: 5px;
  margin-right: 5px;
  font-size: 18px;
  font-weight: 600;
  background: none;
  border: none;
  text-decoration: line-through;
  cursor: pointer;
  opacity: 0.3;
}
