.card_wrapper {
  width: 300px;
  border: 3px solid #22d2a0;
  padding: 30px;
  box-shadow: 10px -10px 0 -3px #192824, 10px -10px #e0736c,
    20px -20px 0 -3px #192824, 20px -20px #806aeb, 30px -30px 0 -3px #192824,
    30px -30px #e8e71a, 40px -40px 0 -3px #192824, 40px -40px #e09d72;
  transition: box-shadow 1s, top 1s, left 1s;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.card_wrapper:hover {
  top: -10px;
  left: 10px;
  box-shadow: 0 0 0 -3px #192824, 0 0 0 0 #e0736c, 0 0 0 -3px #192824,
    0 0 0 0 #806aeb, 0 0 0 -3px #192824, 0 0 0 0 #e8e71a, 0 0 0 -3px #192824,
    0 0 0 0 #e09d72;
}

.card_title {
  font-family: "JetBrains Mono", monospace;
}

.card_title,
.card_list_item {
  color: #e0736c;
  font-weight: bold;
}

.card_list {
  padding: 0;
  list-style: none;
  color: white;
  font-family: "Archivo", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.card_btn {
  margin-top: 50px;
  background-color: #e0736c;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: white;
  display: flex;
  font-family: "JetBrains Mono", monospace;
  font-size: 20px;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: all 0.35s;
}

.card_btn:focus {
  outline: 0;
  transition: all 0.35s;
}

.card_btn:after {
  content: "";
  position: absolute;
  border: 2px solid white;
  bottom: 6px;
  left: 6px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  transition: all 0.35s;
}

.card_btn:hover:after {
  bottom: 2px;
  left: 2px;
}
