@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px 5%;
  gap: 20px;
}

.title {
  margin: 50px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.9rem;
  text-align: center;
}
