:root {
  --var-title: #f29d52;
  --var-secondary: #bfbcae;
  --var-border: #f29d52;
  --var-details: #3b3840;
  --var-text: rgb(36, 36, 36);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(180deg, #17a4c7 0%, #760094 100%);
  font-family: "Poppins", sans-serif;
  background-position: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.friends {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}

.others {
  display: none;
}

@media (min-width: 800px) {
  body {
    background: linear-gradient(180deg, #00cfc1 0%, #760094 100%);
    background-size: 100vh;
  }

  .mainSection {
    display: flex;
    justify-content: space-between;
  }

  .friends {
    width: 20%;
  }

  .messages {
    width: 50%;
    height: 100vh;
  }

  .others {
    display: block;
    width: 20%;
    height: 100vh;
  }
}
