:root {
  --var-title: #f29d52;
  --var-secondary: #bfbcae;
  --var-border: #f29d52;
  --var-details: #3b3840;
  --var-text: rgb(36, 36, 36);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(180deg, #2c3350 0%, #15172c 100%);
}

.App {
  display: flex;
  flex-direction: column;
}

.friends {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.4);
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

.others {
  display: none;
}

@media (min-width: 800px) {
  body {
    background: linear-gradient(180deg, #2c3350 0%, #15172c 100%);
  }

  .App {
    justify-content: space-around;
    align-items: space-around;
  }

  .mainSection {
    display: flex;
    justify-content: space-between;
  }

  .friends {
    width: 20%;
  }

  .messages {
    width: 50%;
    height: 100vh;
  }

  .others {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100vh;
    padding-right: 40px;
  }
}
