@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");

.link {
  color: white;
  font-weight: 400;
  margin-left: 10px;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card {
  width: 500px;
  position: relative;
  img {
    width: 100%;
    transition: all 0.35s;
    &:hover {
      filter: brightness(0.4);
    }
  }
  h3 {
    font-family: "open sans", sans-serif;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    margin-left: 10px;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.35s;
    &:hover {
      background-color: white;
      color: rgb(10, 56, 45);
      padding: 40px 40px;
      text-shadow: none;
      font-weight: bold;
      margin: 0;
    }
  }
}
