.NewMessage {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  background-color: rgba(255, 255, 255);
  padding: 30px 35px;
  box-shadow: -4px 34px 20px -7px rgba(0, 0, 0, 0.32);
}

.messageForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 20px 3% 0 3%;
  gap: 10px;
}

.MsgTitle {
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
}

.inputSection {
  display: flex;
  gap: 20px;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
}

.inputSubsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

.inputImg {
  width: 100px;
  height: 100px;
  background: #15172c;
  border-radius: 100%;
  margin: 0;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  color: white;
}

.inputMessage,
.inputAuthor,
.inputTitle {
  border: none;
  background: none;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 15px;
  color: var(--var-text);
  border-bottom: 2px solid #30b0eb;
  padding: 10px 0;
  width: 100%;
}

.inputSubmit {
  width: fit-content;
  background-color: #15172c;
  border: none;
  padding: 10px 20px;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 18px;
  color: white;
  cursor: pointer;
}
